{% extends 'base_m.html' %}
{% block title %}
Додавання фото
{% endblock %}
{% block body %}
<div class="container mt-5">
   <div class="d-flex justify-content-center">
      <aside class="col-sm-10">
         <div class="card">
            <article class="card-body">
              <h1>Додавання фото</h1>
              <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                      <table class="col-sm-12" align="center" border="0">
                          <tr>
                              <td colspan="2">
                                  <hr>
                              </td>
                          </tr>
                          <tr>
                              <td align="center">
                                  <!--Name of field and input-->
                                  {{ form.img.label_tag }}
                              </td>
                              <td>
                                  <div class="mx-auto" style="width: 90%">
                                      {{ form.img }}
                                  </div>

                                  <!--Show help text for field-->
                                  {% if form.img.help_text %}
                                  <small style="color: grey">{{ form.img.help_text }}</small>
                                  {% endif %}

                                  <!--Show error text for field-->
                                  {% for error in form.img.errors %}
                                  <p style="color: red">{{ error }}</p>
                                  {% endfor %}
                              </td>
                          </tr>
                      </table>
                      <hr>
                  <button class="btn btn-outline-info" type="submit">Upload</button>
    </form>
            </article>
         </div>
      </aside>
   </div>
</div>
{% endblock %}
