{% extends 'base_m.html' %}
{% block title %}
Головна сторінка
{% endblock %}

{% block body %}

<div  class="container mt-5">
    <div class="jumbotron jumbotron-fluid" style="background-color:#D1ECF1">
        <div class="container">
            <h1 class="display-5">
                <p>Вітає на нашому ресурсі!</p>
                 <hr>
                <p>Ми допоможемо впорядкувати Ваші фотографії!</p>
            </h1>
<!--            <p class="lead"><a class="text-dark" href="logout">Вийти</a></p>-->
        </div>
    </div>
</div>

{% endblock %}
